@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #4ca8cd;
    --secondary: #b3daea;
    --accent: #2e82a3;
    --background: #ffffff;
    --background-secondary: #f7faff;
    --text: #000000;
}
*{
  scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    color: var(--text);
}

@layer components {
  .container-content {
    @apply max-w-[90%] w-[1300px] mx-auto;
  }
  .bg-image {
    @apply bg-cover bg-center bg-no-repeat;
    background-image: url('/bgWhite.png');
  }
  .grid-two-columns {
    @apply grid grid-cols-2 gap-4;
  }
  .btn-primary {
    @apply py-2 px-4 flex justify-center gap-3 items-center  text-black font-semibold shadow-md transition-colors;
        background-color: var(--primary);
    }
  .btn-primary:hover {
        background-color: var(--accent);
    }
  .btn-secondary {
    @apply py-2 px-4  flex justify-center gap-3 items-center  text-black  font-semibold  shadow-md transition-colors;
        background-color: var(--secondary);
    }
  .btn-secondary:hover {
        background-color: var(--accent);
    }
  .link-primary {
    @apply text-lg transition-colors font-bold;
    }
  .link-primary:hover {
    color: var(--accent);
    }
  .heading-primary {
    @apply text-5xl font-black;
    }
  .heading-secondary {
    @apply text-2xl font-bold;
    }
  .color-effect {
    background: linear-gradient(120deg, var(--primary), var(--accent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
  .bg-card {
    background-color: rgb(46, 130, 163 , 0.8);
    }
  .mobile-menu {
    @apply fixed top-20 right-0 h-full w-0 overflow-hidden bg-white z-50 flex flex-col justify-center items-center gap-4;
    transition: width 0.3s ease-in-out;
    }
    .mobile-menu-active {
    @apply w-2/5;
    }
    .overlay {
      @apply flex flex-col justify-center w-full  h-full bg-card absolute  scale-0 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 uppercase transition-transform;
  }
  .modal {
    @apply flex flex-col justify-center items-center -z-50 w-full h-full fixed bg-card top-0 right-0 transform transition-opacity opacity-0;
  }
  .modal-active {
    @apply opacity-100 z-50;
  }
}

